In [ ]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType

In [2]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "2e13f982-be24-4f34-b7a8-a37fdade1138",
"fs.azure.account.oauth2.client.secret": 'Pev8Q~uBsmITSfuM440Xqc5ORkQupPJr19faIb1L',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/6b0f8508-a239-4661-8617-b06f121f989d/oauth2/token"}

dbutils.fs.mount(
source = "abfss://tokyo-olympic-data@tokyoolympicdata4.dfs.core.windows.net", # contrainer@storageaccoun    tname
mount_point = "/mnt/tokyoolympic",
extra_configs = configs)

In [ ]:
%fs
ls "/mnt/tokyoolympic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolympic/raw-data/,raw-data/,0,1698517035000
dbfs:/mnt/tokyoolympic/transformed-data/,transformed-data/,0,1698517046000

In [ ]:
spark

In [ ]:
athletes = spark.read.format("csv").option("header","true").option('inferSchema','true').load("/mnt/tokyoolympic/raw-data/athletes.csv")
medals = spark.read.format("csv").option("header","true").option('inferSchema','true').load("/mnt/tokyoolympic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header","true").option('inferSchema','true').load("/mnt/tokyoolympic/raw-data/teams.csv")
eg = spark.read.format("csv").option("header","true").option('inferSchema','true').load("/mnt/tokyoolympic/raw-data/entriesgender.csv")
coaches = spark.read.format("csv").option("header","true").option('inferSchema','true').load("/mnt/tokyoolympic/raw-data/coaches.csv")

In [ ]:
athletes.show()

+--------------------+--------------------+-------------------+
|                Name|                 NOC|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
athletes.printSchema()

root
 |-- Name: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [ ]:
coaches.printSchema()

root
 |-- Name: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [ ]:
coaches.show()

+--------------------+--------------------+-----------------+--------+
|                Name|                 NOC|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID Wael|               Egypt|         Football|    NULL|
|           ABE Junya|               Japan|       Volleyball|    NULL|
|       ABE Katsuhiko|               Japan|       Basketball|    NULL|
|        ADAMA Cherif|       C�te d'Ivoire|         Football|    NULL|
|          AGEBA Yuya|               Japan|       Volleyball|    NULL|
|AIKMAN Siegfried ...|               Japan|           Hockey|     Men|
|       AL SAADI Kais|             Germany|           Hockey|     Men|
|       ALAMEDA Lonni|              Canada|Baseball/Softball|Softball|
|     ALEKNO Vladimir|Islamic Republic ...|       Volleyball|     Men|
|     ALEKSEEV Alexey|                 ROC|         Handball|   Women|
|ALLER CARBALLO Ma...|               Spain|       Basketball|    NULL|
|       ALSHEHRI Saad|        Saudi Arabia|         Football|     Men|
|           ALY Kamal|               Egypt|         Football|    NULL|
| AMAYA GAITAN Fabian|         Puerto Rico|       Basketball|    NULL|
|    AMO AGUADO Pablo|               Spain|         Football|    NULL|
|   ANDONOVSKI Vlatko|United States of ...|         Football|   Women|
|        ANNAN Alyson|         Netherlands|           Hockey|   Women|
|  ARNAU CREUS Xavier|               Japan|           Hockey|   Women|
|       ARNOLD Graham|           Australia|         Football|     Men|
|         AXNER Tomas|              Sweden|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 20 rows

In [ ]:
medals.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|            Team/NOC|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [ ]:
medals.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Team/NOC: string (nullable = true)
 |-- Gold: string (nullable = true)
 |-- Silver: string (nullable = true)
 |-- Bronze: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Rank by Total: string (nullable = true)

In [ ]:
eg.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [ ]:
eg.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Total: string (nullable = true)

In [ ]:
#CHANGING DATA TYPES OF COLUMNS
# eg = eg.withColumn('Female',col('Female').cast(IntegerType()))\
#     .withColumn('Male',col('Male').cast(IntegerType()))\
#         .withColumn('Total',col('Total').cast(IntegerType()))

        ##can do the same while reading the csv itself using inferSchema()

In [ ]:
eg.show(5)
eg.printSchema()

+-------------------+------+----+-----+
|         Discipline|Female|Male|Total|
+-------------------+------+----+-----+
|     3x3 Basketball|    32|  32|   64|
|            Archery|    64|  64|  128|
|Artistic Gymnastics|    98|  98|  196|
|  Artistic Swimming|   105|   0|  105|
|          Athletics|   969|1072| 2041|
+-------------------+------+----+-----+
only showing top 5 rows

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [ ]:
medals.show(5)

+----+--------------------+----+------+------+-----+-------------+
|Rank|            Team/NOC|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
+----+--------------------+----+------+------+-----+-------------+
only showing top 5 rows

In [ ]:
#FIND THE TOP COUNTRIES WITH HIGHEST NO. OF GOLD MEDALS
top_gold_medal_countries = medals.orderBy('Gold',ascending=False).select('Team/NOC','Gold').show()

+--------------------+----+
|            Team/NOC|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
|           Australia|  17|
|         Netherlands|  10|
|              France|  10|
|             Germany|  10|
|               Italy|  10|
|                Cuba|   7|
|         New Zealand|   7|
|              Brazil|   7|
|              Canada|   7|
|             Hungary|   6|
|   Republic of Korea|   6|
|               Kenya|   4|
|              Poland|   4|
|      Czech Republic|   4|
|              Norway|   4|
+--------------------+----+
only showing top 20 rows

In [ ]:
#CALCULATE AVERAGE NO. OF ENTRIES BY GENDER FOR EACH DISCIPLINE
avg_entries_by_gender = eg.withColumn('Average_Female',eg['Female']/eg['Total']).withColumn('Average_Male',eg['Male']/eg['Total']).select('Discipline','Average_Female','Average_Male')

avg_entries_by_gender.show()

+--------------------+-------------------+-------------------+
|          Discipline|     Average_Female|       Average_Male|
+--------------------+-------------------+-------------------+
|      3x3 Basketball|                0.5|                0.5|
|             Archery|                0.5|                0.5|
| Artistic Gymnastics|                0.5|                0.5|
|   Artistic Swimming|                1.0|                0.0|
|           Athletics| 0.4747672709456149| 0.5252327290543851|
|           Badminton|0.49710982658959535| 0.5028901734104047|
|   Baseball/Softball|0.38461538461538464| 0.6153846153846154|
|          Basketball|                0.5|                0.5|
|    Beach Volleyball|                0.5|                0.5|
|              Boxing|0.35294117647058826| 0.6470588235294118|
|        Canoe Slalom|                0.5|                0.5|
|        Canoe Sprint| 0.4939759036144578| 0.5060240963855421|
|Cycling BMX Frees...| 0.5263157894736842|0.47368421052631576|
|  Cycling BMX Racing|                0.5|                0.5|
|Cycling Mountain ...|                0.5|                0.5|
|        Cycling Road| 0.3482587064676617| 0.6517412935323383|
|       Cycling Track|0.47619047619047616| 0.5238095238095238|
|              Diving| 0.5034965034965035| 0.4965034965034965|
|          Equestrian| 0.3686868686868687| 0.6313131313131313|
|             Fencing|0.49767441860465117| 0.5023255813953489|
+--------------------+-------------------+-------------------+
only showing top 20 rows

In [ ]:
#Writing transformed data to Transformed folder
athletes.write.mode('overwrite').option('header','true').csv('/mnt/tokyoolympic/transformed-data/athletes_transformed')

In [ ]:
#Using partitions if file size is big
# athletes.repartition(3).write.mode('overwrite').option('header','true').csv('/mnt/tokyoolympic/transformed-data/athletes_transformed')

In [ ]:
coaches.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/coaches_transformed")
eg.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/entriesgender_transformed")
medals.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/medals_transformed")
teams.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/teams_transformed")